.form {
  margin: 0 auto;
  padding: 5px;
  width: 60%;
  align-items: center;
}

.dates {
  margin: 10px 0 10px 0;
}

.title {
  font-size: 17px;
  font-weight: 600;
}

.selects_text {
  display: inline-block;
  padding: 4px;
}

.label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.input_countries {      
  width: 200px;
}

.select_countries {
  background-image: linear-gradient(to down, white, #098dc2);
  white-space: nowrap;
}

.selects_dates{
  margin: 15px;
}

.addButton {
  font-family: 'Century Gothic Regular';
  font-size: 22px;
  color: white;
  border-radius: 20px;
  width: 80%;
  border: none;
  background-image: linear-gradient(to right, #080bbb, #098dc2);
}

h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  padding: 5px;
}

li {
  font-family: 'Century Gothic Regular';
  font-size: 22px;
}

.list {
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  background-color: antiquewhite;
}