html, body {
  height: 100%;        
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  height: 80px;
}

.logo2 {
  position: fixed;
  height: 400px;
  right: 0.5%;
  top: 5%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;                      /* занимает всё оставшееся место до низа */
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px 50px;      
  background: rgba(255, 255, 255, 0.274);
  box-sizing: border-box;       /* чтобы padding не добавлялся к высоте */
}

.subcontainer {
  width: 60%;
  margin: 0 auto; 
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0.3, 0.3, 0.3, 0.3);
  padding: 10px;
  background: rgba(255, 255, 255, 0.61);
}