body {
  position: absolute;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}